;; shadow-cljs configuration
{:source-paths
 ["src"]

 :dependencies
 []

 :builds
 {:frontend
  {:target :browser
   :modules {:main {:init-fn boss.frontend.app/init}}
   :output-dir "resources/public/js"}}}
